.Button {
    background: white;
    color: black;
    padding: 5px 20px;
    font-size: 16px;
    border: 0;
}

.Button[disabled] {
    background: grey;
}

.Button-primary {
    background: dodgerblue;
    color: white;
}

.Button-secondary {
    border: 1px solid dodgerblue;
}